.about-page {
  padding: 0; // Retire le padding ici pour ne pas restreindre la largeur de la Banner
}

.about-collapses {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto 50px;
  padding: 0 20px; // Ajout de padding ici à la place
  width: 100%;
  max-width: 1250px;

  @media (min-width: 769px) {
    padding: 0 100px;
  }
}
