@use '../../scss/variable' as *;
@use '../../scss/mixin' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
    padding: 0 100px;

    @include tablet {
      padding: 0 50px;
    }

    @include mobile {
      padding: 0 20px;
    }
  }
}
