@use './variable' as *;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  min-height: 100vh;
  color: $primary-color;
}

* {
  box-sizing: border-box;
}
