@use './mixin' as *;

@include mobile {
  h1 {
    font-size: 96px !important;
    margin-top: -70px;
  }

  h2 {
    font-size: 20px !important;
  }

  p,
  li,
  a {
    font-size: 14px !important;
  }
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
}

.mobile-only {
  display: none;

  @include mobile {
    display: block;
  }
}
